@import '../../sassCore/_base.scss';

.c-list{
    width: 100%;
    padding: 20px;
    border: 1px solid #dadada;
}
.c-item{
    height: 60px;
    border-bottom: 1px dotted #fafafa;
    img{
        float: left;
    }
}
.c-box{
    margin-left: 70px;
    height: 60px;
    h4{
        height: 30px;
        line-height: 30px;
        color: #036;
        font-size: 14px;
    }
    p{
        height: 30px;
        line-height: 30px;
        color: #aaa;
    }
}
